### Q1
List the basic data types in python and give one example each.

In [ ]:
FLOAT Eg. a = 1.2456
INTEGER Eg.b = 45
BOOLEAN Eg.c =  True
STRING Eg. d = "Science"

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [120]:
x = "4539.85"
y = str(x)
type(y)

str

In [128]:
x = 4539.85
x
z = int(x)
z

4539

### Q3

What data type would you use to store

a. The price of car? INTEGER

b. The age of a person INTEGER

c. car plate number: plateNumber = "AV01-AFP"? STRING

d. The price of fuel FLOAT

e. The number of students in the class INTEGER

f. The weight of a person FLOAT

g. Check whether two figures are equal BOOLEAN

i. The name of a  school STRING

j. The average result of the overall score of a student FLOAT

k. The total number of vote cast INTEGER

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement ="Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"


- **What is the length of statment 1?** ANS 61
-**What is the length of statment 2?** ANS 34
-**Is the length of statement 1 greater than statement 2** ANS YES

In [9]:
Statement = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"
Statement

'Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team'

In [11]:
len(Statement)

96

In [13]:
Statement1 = "Thomas Partey is arguably the best player in the Black Stars."
Statement1
len(Statement1)

61

In [16]:
Statement2 = "He is a great addition to the team"
Statement2 
len(Statement2)

34

In [17]:
Statement1 > Statement2

True

### Q5
What values does python use to represent **True** and **False** respectively? 1 and 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.
                        
3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [34]:
num1 = 78
num1

78

In [35]:
num2 = 46
num2

46

In [36]:
num3 = 30
num3

30

In [37]:
num1 > num2 < num3

False

In [131]:
8%2

8 is an even number

0

In [129]:
character1 = "boostrap"
character1
len(character1)

8

In [32]:
character2 = "sample"
character2
len(character2)

6

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [140]:
word ='Hello, How are you?'
word

'Hello, How are you?'

In [141]:
len(word)

19

In [142]:
word[7:11]

'How '

In [143]:
word[7:-1]

'How are you'

In [144]:
word[11:14]

'are'

In [145]:
word[-1]

'?'

In [146]:
word[:-1]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [40]:
sentence = "I am very excited"
sentence.upper()

'I AM VERY EXCITED'

In [41]:
sentence = "I am very excited"
sentence.lower()

'i am very excited'

In [42]:
sentence = "I am very excited"
sentence.title()

'I Am Very Excited'

In [43]:
sentence_split = sentence.split(" ")
sentence_split

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [70]:
word = 'OneThirtyEight'
word

'OneThirtyEight'

In [78]:
word[0:3]

'One'

In [136]:
word[3:9]

'Thirty'

In [105]:
word[9:]

'Eight'

In [137]:
word[0:9]

'OneThirty'

In [77]:
word[3:]

'ThirtyEight'

In [89]:
word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [116]:
name =  "Ault_Kelly"
name
type(name)

str